{% extends 'html/base2.html' %}
{% block 'title' %}View orders{% endblock%}
{% block 'body' %}
	<div class="box-element mt-5">
        <div class="cart-row">
            <div style="flex:1"><strong>Id</strong></div>
            <div style="flex:1"><strong>Item</strong></div>
            <div style="flex:1"><strong>Name</strong></div>
            <div style="flex:1"><strong>Price</strong></div>
            <div style="flex:1"><strong>Quantity</strong></div>
            <div style="flex:1"><strong>Total</strong></div>
            <div style="flex:1"><strong>Customer Name</strong></div>
            <div style="flex:1"><strong>Status</strong></div>
        </div>
        {% for item in items %}
            <div class="cart-row mt-2">
                <div style="flex:1"><p class="pt-4">{{item.product.id}}</p></div>
                <div style="flex:1"><img class="row-image" src="{{item.product.imageURL}}"></div>
                <div style="flex:1"><p class="pt-4">{{item.product.name}}</p></div>
                <div style="flex:1"><p class="pt-4">Rs {{item.product.price|floatformat:2}}</p></div>
                <div style="flex:1"><p class="quantity pt-4">{{item.quantity}}</p></div>
                <div style="flex:1"><p class="pt-4">Rs {{item.get_total|floatformat:2}}</p></div>
                <div style="flex:1"><p class="pt-4">{{item.order.customer.name}}</p></div>
                <div style="flex:1"><p class="pt-4">{{item.order.complete}}</p></div>
            </div>
        {% endfor %}

{% endblock%}